*/DDLGen/Debug/*
*/DDLGen/Release/*
*/RpcGen/Debug/*
*/RpcGen/Release/*
*ipch*
*/Intermediate/*
*/Release/*
*/Debug/*
*/External/*
*Binaries/Win32/*
*Binaries/Win64/*
*Binaries/*.exe
*Binaries/*.pdb
*.ilk
*.sdf
*.opensdf
*.user
*.suo
*.vspscc
*.vsscc
*.vssscc

